<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868943163896-tknrhimb5m00rpi9kmvfj3v3lvok7pd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868943163896-tknrhimb5m00rpi9kmvfj3v3lvok7pd1</string>
	<key>API_KEY</key>
	<string>AIzaSyANj5KN_nkWQJDpAdNKqsBsYurXMOpUAG0</string>
	<key>GCM_SENDER_ID</key>
	<string>868943163896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kch.WooriDuri</string>
	<key>PROJECT_ID</key>
	<string>wooriduri</string>
	<key>STORAGE_BUCKET</key>
	<string>wooriduri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868943163896:ios:95588fbb1c78e57e6c260d</string>
</dict>
</plist>